
.stats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;

	> table {
		border-spacing: 0;

		td, th {
			text-align: center;
			--l-padding: 0.4em;
			padding: var(--l-padding) calc(2 * var(--l-padding));
			



			background-color: var(--clr-1-accent);
		}
	}
}
