
.stats {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.stats > div {
	display: flex;
	flex-direction: column;

	overflow-y: scroll;


	> * {
		
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2em;

		--l-padding: 0.3em;
		padding: calc(2 * var(--l-padding)) var(--l-padding);


		&:nth-child(2n - 1) {
			background-color: var(--clr-1-accent);
		}

	}

}
