main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.grid-habits {
	display: grid;
	grid-template-columns: repeat(3, auto);
}

input.cell {
	border: none;
	outline: none;
}

input.cell:focus-visible {
	background-color: var(--clr-1-accent);
}

button.cell {
	background-color: transparent;
}

a.cell {
	font-weight: normal;
	text-align: center;
}

h1 {
	text-align: center;
	margin-block: 0.2em;
}

.danger {
	background-image: repeating-linear-gradient(-45deg, #ff0, #ff0 2rem, #000 2rem, #000 4rem);
	color: #000;
}

.danger > h1 {
	background-color: var(--clr-danger);
	backdrop-filter: blur(4px);
}

.danger > h1:first-child {
	margin-top: 0;
}

.danger input[type="button"] {
	background-color: var(--clr-1);
	border-color: var(--clr-danger);
	color: #000;
}

.danger input[type="button"]:hover {
}
