main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.grid-habits {
	display: grid;
	grid-template-columns: repeat(3, auto);
}

input.cell {
	border: none;
	outline: none;
}

input.cell:focus-visible {
	background-color: var(--clr-1-accent);
}

button.cell {
	background-color: transparent;
}

a.cell {
	font-weight: normal;
	text-align: center;
}

h1 {
	text-align: center;
	margin-block: 0.2em;
}
