.grid-habits {
	display: grid;
	grid-template-columns: repeat(calc(2 + var(--number-of-days)), auto);
}

.grid-habits > div {
	aspect-ratio: var(--golden-ratio);
	background-color: var(--clr-1-accent);
}

.grid-habits > h3 {
	text-align: center;
	align-content: center;
}

/* .grid-habits needed because specificity */
.grid-habits > .offset {
	background-color: var(--clr-2);
}

.date {
	display: grid;
	grid-template-areas: "month" "day";
}
