:root {
	--radius: 0.4rem;
}

.grid-habits {
	display: grid;
	grid-template-columns: auto repeat(calc(var(--number-of-days)), 1fr) auto;
}

.grid-habits > div {
	background-color: var(--clr-1-accent);
	padding: 0.2em 0.4em;
}

.grid-habits > h3 {
	text-align: center;
	align-content: center;
	margin: 0;
	background-color: var(--clr-2);
}

/* .grid-habits needed because specificity */
.grid-habits > .offset {
	--color-offset: var(--clr-3);
	background-color: var(--color-offset);
}

.grid-habits > .date {
	display: grid;
	grid-template-areas: "month" "day";
	text-align: center;
	aspect-ratio: unset;
	background-color: var(--clr-2);
}

.grid-habits > .stats {
	background-color: transparent;
}

.grid-habits > :is(:nth-child(1 of h3), :nth-child(1 of .date)) {
	border-radius: var(--radius) 0 0 0;
}

.grid-habits > :nth-last-child(1 of h3) {
	border-radius: 0 0 0 var(--radius);
}

.grid-habits > :nth-last-child(1 of .date) {
	border-radius: 0 var(--radius) 0 0;
}



