:root {
	font-family: 'Helvetica';
	--golden-ratio: calc((1 + sqrt(5)) / 2);
	--golden-ratio-long: calc(var(--golden-ratio) * 2);
}

body {
	margin: 0;
	min-height: 100vh;

	--clr-1: #eee;
	--clr-1-accent: #bbb;
	--clr-2: #b2d;
	--clr-3: #2d4;

	--bigger-font-size: 1.2rem;

	background-color: var(--clr-1);
}

.card {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	gap: 2rem;
	padding: 2rem;
	box-shadow: 0 0 1rem #000a;

	background-color: var(--clr-1);
}

h1 {
	margin: 0;
}

input {
	font-family: inherit;
	font-size: var(--bigger-font-size);
	border: solid 0.2em var(--clr-2);
	padding: 0.2em 0.4em;

	transition-duration: 300ms;
}

input:is([type='text'], [type='password']) {
	background-color: transparent;
}

input:is([type='button'], [type='submit']) {
	background-color: var(--clr-1);
	color: var(--clr-2);
}

input:is([type='button'], [type='submit']):hover {
	background-color: var(--clr-3);
}

button.inline {
	display: inline;
	border: none;
	background: none;
	font: inherit;
	cursor: pointer;
	color: var(--clr-2);
}

button.inline:hover {
	text-decoration: underline;
}

.highlight {
	color: var(--clr-2);
}

a {
	color: var(--clr-2);
}

a.cell {
	display: block;
	font-weight: bold;
	cursor: pointer;
	font-size: var(--bigger-font-size);
	align-content: center;
}

a.cell:hover {
	background-color: var(--clr-1-accent);
}
