* {
	box-sizing: border-box;
}

:root {
	font-family: sans-serif;
	--golden-ratio: calc((1 + sqrt(5)) / 2);
	--golden-ratio-long: calc(var(--golden-ratio) * 2);
}

body {
	margin: 0;
	min-height: 100vh;
--clr-1: #fafafa;
	--clr-1-accent: #777;
	--clr-2: #b2d;
	--clr-3: #2d4;
	--clr-3-accent: #5fa;
	--clr-danger: #c00d;

	--bigger-font-size: 1.2rem;

	background-color: var(--clr-1);
}

.card {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	gap: 2rem;
	padding: 2rem;

	background-color: var(--clr-1);
}

h1 {
	margin: 0;
}

input {
	font-family: inherit;
	font-size: var(--bigger-font-size);
	border: solid 0.2em var(--clr-2);
	padding: 0.2em 0.4em;

	transition-duration: 300ms;
}

input:is([type='text'], [type='password']) {
	background-color: transparent;
}

input:is([type='button'], [type='submit']) {
	background-color: var(--clr-1);
	color: var(--clr-2);
}

:is(input:is([type='button'], [type='submit']), a.button):hover {
	background-color: var(--clr-3);
}



.highlight {
	color: var(--clr-2);
}

[type="button"].inline {
	display: inline;
	border: none;
	background-color: transparent;
	font: inherit;
	cursor: pointer;

	padding: 0;
}

[type="button"].inline:hover {
	background-color: transparent;
}

a, [type="button"].inline {
	text-decoration: none;
	font-weight: bold;

	color: var(--clr-2);
}

a.button {
	font-size: var(--bigger-font-size);
	text-decoration: none;
	font-weight: normal;
	cursor: default;

	border: solid 0.2em var(--clr-2);
	padding: 0.2em 0.4em;

	transition-duration: 300ms;

	background-color: transparent;
	color: var(--clr-2);
}


a.cell {
	display: block;
	font-weight: bold;
	cursor: pointer;
	font-size: var(--bigger-font-size);
	align-content: center;
}

a.cell:hover {
	background-color: var(--clr-1-accent);
}

.flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.subgrid {
	display: grid;

	grid-template-columns: subgrid;
	grid-template-rows: subgrid;
}


.iframe-menu {
	width: 100vw;
	height: 4rem;
}

