.layout-default {
	grid-template-columns: [habit-names-start editor-link-start arrow-left-start] auto [habit-names-end editor-link-end arrow-left-end dates-start offsets-start summary-start]
	repeat(var(--number-of-dates), 1fr) [dates-end offsets-end summary-end stats-start arrow-right-start]
	repeat(var(--number-of-stats), auto) [arrow-right-end stats-end];

	grid-template-rows: [dates-start arrow-left-start arrow-right-start] 1fr [arrow-left-end arrow-right-end stats-start] 1fr [dates-end habit-names-start offsets-start]
	repeat(var(--number-of-habits), 1fr) [habit-names-end offsets-end stats-end summary-start editor-link-start]
	1fr [summary-end editor-link-end];

	text-align: center;

	> .view-dates > div {
		grid-row: span 2;
	}
}


.view-habit-names {
	grid-area: habit-names;
}

.view-dates {
	grid-area: dates;
}

.view-offsets {
	grid-area: offsets;
}

.view-stats {
	grid-area: stats;
}

.view-summary {
	grid-area: summary;
}

.view-editor-link {
	grid-area: editor-link;
}




.layout {
	display: grid;

	--border: 0.2rem solid var(--clr-1-accent);
}

.view-offsets > button {
	border: none;
	background-color: var(--clr-1);
	align-content: center;
	text-align: center;
	font-size: 1.4vw;
	font-weight: bold;

	--border-width: 0.3rem;
	min-height: calc(1em + (var(--border-width) * 2));
}

.view-offsets > button:hover {
	border: var(--border-width) solid var(--clr-1);
	background-color: var(--clr-offset);
	color: var(--clr-1);
}

.view-offsets > button:hover::after {
	content: 'mark';
}

.view-offsets > .offset:hover {
	border: var(--border-width) solid var(--clr-offset);
	background-color: var(--clr-1);
	color: var(--clr-offset);
}

.view-offsets > .offset:hover::after {
	content: 'unmark';
}

/* .view-offsets needed because specificity */
.view-offsets > .offset {
	--clr-offset: var(--clr-3);
	background-color: var(--clr-offset);
	/*
	aspect-ratio: calc(var(--golden-ratio) + 1);
	*/
}


.view-habit-names {
	align-content: center;
	margin: 0;
	background-color: var(--clr-1);

	border-left: var(--border);
}

.view-dates {

	border-top: var(--border);

	background-color: var(--clr-1);


	/* TODO: probably should be span */
	> div {
		display: flex;
		flex-direction: column;
	}
}

.view-stats {
	border-right: var(--border);
}

.view-summary {
	border-bottom: var(--border);
}
